.container {
    display: flex;
    align-items: center;
    
    
  }
  
  
  .logo {
    width: 180px  ;
    height: 80px;
    margin-right: 64rem;
    margin-left: 2rem;
  } #lang-f{
  
      width: 130px;

      height: 32px;
      border: 1px solid white;
      border-radius: 5px;
      margin: 0px 1px;
      background-color:black;
      color: white;
      text-align: center;
      font-size: 16px;
      
  
  }.signin{
  
      color: white;
      background-color: red;
      height: 32px;
      width: 80px;
      margin-left: 10px;
      font-weight: bolder;
      border-radius: 4px;
      text-align: center;
      text-align-last: center;
      font-family: 'Roboto', sans-serif;
      font-size: 15px;
      
  }

  .world-logo{

    position: absolute;

    bottom: 6px;
    left: 11px;
  }
  /* ..............showcase........... */

   .showcase {
    width: 94%;
    height: 85vh;
    left: 50px;
    
    background-image: radial-gradient(93.75% 105.88% at 0.39% 99.26%, rgba(150, 1, 7, 0.4) 1.42%, rgba(30, 1, 66, 0.51) 53.8%, rgba(13, 14, 32, 0) 100%),linear-gradient(98.24deg, #1D0005 14.75%, rgba(0, 8, 29, 0.48) 100%) ,url(./pic/background\ image.jpg );
    background-size: cover;
    background-position: center;
    position: relative;
    
    border-radius: 10px;
  }

  .container-main-div{
    
    display: flex;
    flex-direction: column;
    

  }.letterdiv{

    position: absolute;

    top: 5%;
    left:5%;
    max-width: 100%;
  }

  .letterdiv h1{

    font-size: 4.5rem;
    /* line-height:50px ; */
     font-weight: 800;
     max-width: 800px;
     border: null;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     margin-bottom: 0;
  }

  .letterdiv h3{
  font-weight: 800;
  font-size: 2rem;
  /* margin-bottom: 20p; */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  

  }.letterdiv p{
  
  padding-top: 0;  
  font-size: 1.3rem;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-width: 80px;

  }
  
  
  
  .email-signup{
    height: 55px;
    display: flex;
    gap:10px;

    width: 100%;
  }
  
  .email-signup input{
    
    background-color: rgba(0, 0, 0, 0.527);
    border: 0.1px solid rgba(255, 255, 255, 0.499);
    width: 350px;
    height: 100%;
    align-content: center;
    border-radius: 4px;
    color: aliceblue;
  }.email-signup button{
   width: 200px;
   height: 110%;
   font-size: x-large;
   color:white;
   background-color: red;
   font-weight: bolder;
   
   border-radius: 4px;
  } .email-signup input::placeholder{

    color: rgb(176, 176, 185);
    padding-left: 20px;
    font-size: medium;
    font-weight: 500;
  }
  .features {
    padding:50px 12%;
    font-size:22px;
  }
  .row {
    display:flex;
    width:100%;
    align-items:center;
    flex-wrap:wrap;
    padding:50px 0;
  }
  .text-col {
    flex-basis:50%;
    margin-bottom:20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
  .img-col {
    flex-basis:50%;
    margin-bottom:20px;
    position: relative;
  }.overlay {
    position: absolute;
    top: 10%;
    left: 30%;
    width: 60%; 
    height: 60%;
    border-radius: 50%;
    background-color: rgba(117, 17, 87, 0.093); 
    z-index: -1;
  }
  .img-col img {
    display:block;
    width:90%;
    margin:auto;
  }
  .features h2 {
    font-size:50px;
    font-weight:600;
    margin-bottom:20px;
  }
  /* ----------------frq-portion------------ */
  .frq{

   
    font-family: 'Roboto', sans-serif;
 
    max-width: 80%;
 
    padding: 1px 10%;
    
 
 }
 .frq h2{
 
     margin-left: 40px;
     font-size: 45px;
 }
 .toggle li {
     list-style:none;
     width:100%;
     padding:2px 0px;
     
     
   }

 .toggle li label {
     display:flex;
     align-items:center;
     padding:24px;
     font-size:24px;
     font-weight:500;
     background:#323032;
     cursor:pointer;
     position:relative;
 
 }label::after {
     content:'+';
     font-size:38px;
     font-weight: 100;
     position:absolute;
     right:5%;
   }
   input[type="radio"] {
     display:none;
   }
   .toggle .content {
    background:#303030;
    font-size: 24px;
     text-align:left;
     margin-top: 5px;
     max-height:0;
     overflow:hidden;
     transition:max-height 0.5s, padding 0.5s;
   }.toggle input[type="radio"]:checked + label + .content{
     max-height:600px;
     padding:30px 20px;
    }
    .toggle input[type="radio"]:checked + label::after{
     transform: rotate(135deg);
   }
 
 
 
 
  .frq .resignup{
 
     font-family: 'Roboto', sans-serif;
     margin-left: 40px;  
     padding-bottom: 10%;
 }  .frq p{
  
  font-size: 24px;
  margin-bottom: 20px;

 }

 
  
  /*------------footer-portion-----------*/
  .footer {
    padding:0px 13% 1px;
    color:#777777db;
    
  }
  .footer h2{
    font-size: 20px;
    font-weight:400;
    margin-bottom:30px;
  }
  .footer h4{
    font-size: 20px;
    font-weight:100;
    margin-top:30px;
    font-size:14px;
    font-family: 'Roboto', sans-serif;
  }
  .footer .colu {
    display: grid;
    grid-template-columns: repeat(4,300px);
    /* flex-basis:33%; */
    /* flex-grow:1; */
    /* margin-bottom:20px; */
  
  }
  .footer .colu a{
    /* display:block; */
    /* text-decoration:none; */
    color:#d0cccc7b;
    font-size:14px;
    line-height: 21px;
    margin-bottom:10px;
    font-family: 'Roboto', sans-serif;
  }
  .footer .row {
    align-items:flex-start;
    padding:10px 0;
  }
  .footer .language-btn{
    color:#fff;
    padding:10px 20px;
    border-radius:3px
  }